@model ClassLibrarySkema.ModelLayer.Skema

@{
    ViewBag.Title = "Room";
}

<h2>Room</h2>

<div>
    <h4>Skema</h4>
	<hr />
    <dl class="dl-horizontal">
    </dl>
</div>
@foreach (var lecture in Model.LectureList)
{
    <p>
        @lecture.ToString();

    </p>
}