@model ClassLibrarySkema.ModelLayer.Skema 

@{
    ViewBag.Title = "Teacher";
}

<h2>Teacher</h2>

<div>
    <h4>Skema</h4>
	<hr />
    <dl class="dl-horizontal">
    </dl>
</div>
    @foreach(var lecture in Model.LectureList)
    { 
        <p>
        @lecture.ToString();
            
        </p>
    }