@model ClassLibrarySkema.ModelLayer.Skema 

@{
    ViewBag.Title = "Teacher";
}

<h2>Teacher </h2>

<div>
    <h4>Timetable</h4>
	<hr />
    <dl class="dl-horizontal">
    </dl>
</div>


<table>
    <tr>
        <th>Time</th>
        @foreach(var weeknum in Model.LectureList)
        {
            <th>@weeknum</th>
        }
    </tr>
</table>




    @foreach(var lecture in Model.LectureList)
    { 
        <p>
        @lecture.ToString();
            
        </p>
    }



